:root{
    --cor-fundo: #022425;
    --cor-fundo-escuro-escuro: #011b1c;
    --cor-fundo-escuro: #104242;
    --cor-destaque: #F2FF58;
    --cor-destaque-secundaria: #C6D34C;
    --cor-linha: #254C3C;
    --cor-texto: #ffffff;
    --cor-texto-suave: #3f5551;
    --cor-icone: #5f7470;
    
}

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Goldman", sans-serif;
    display: flex;
    flex-direction: row;

}

#sidebar{
    width: 20%;
    height: 100%;
    background-color: var(--cor-fundo-escuro-escuro);
}

#container_titulo{
    align-items: center;
    display: flex;
    gap: 15px;
    margin-left: 30px;
}

#container_titulo h2{
    color: var(--cor-destaque);
}

#container_titulo img{
    width: 40px;
    height: 40px;

}

#container_opcoes{
    margin-left: 30px;
    height: 60%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

#container_opcoes span, #container_sair span{
    color: var(--cor-fundo-escuro);
} 

#sub_container_painel, #sub_container_perfil, #sub_container_partidas, #sub_container_forum, #sub_container_calendario{
    display: flex;
    align-items: center;
    gap: 15px;
}

#sub_container_painel, #sub_container_perfil, #sub_container_partidas, #sub_container_forum, #sub_container_calendario img{
    width: 20px;
    height: 20px;
}

#sub_container_perfil a, #sub_container_partidas a, #sub_container_forum a, #sub_container_sair a{
    text-decoration: none;
    color: var(--cor-fundo-escuro);
    font-size: 23px;
}

#sub_container_painel span,#sub_container_painel a{
    text-decoration: none;
    color: #F2FF58;
    font-size: 23px;

}

#sub_container_perfil:hover span, #sub_container_perfil a:hover, 
#sub_container_partidas:hover span, #sub_container_partidas a:hover, 
#sub_container_forum:hover span, #sub_container_forum a:hover, 
#sub_container_sair:hover span, #sub_container_sair a:hover{
    color: #F2FF58;
}


#container_sair{
    display: flex;
    align-items: end;
    margin-left: 30px;
    height: 22%;
    /* background-color: palegoldenrod; */
}

#sub_container_sair{
    display: flex;
    align-items: center;
    gap: 10px;
}





#container_principal{
    width: 80%;
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




.container_titulo_pag{
/*     background-color: #ffffff; */
    height: 6%;
    width: 97%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titulo_pag{
    color: #F2FF58;
    font-size: 34px;
}

.topo_esq {
/*     background-color: aquamarine; */
    height: 85%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container_legenda_topo {
    border: 1px solid #ffffff;
    width: 65%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

.legenda_topo1 {
    color: #F2FF58;
}

.legenda_topo2 {
    color: #ffffff;
}

.legenda_topo3 {
    color: #067572;
}

.container_user {
    border: 2px solid #F2FF58;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #F2FF58;
    margin-top: 2px;
    box-sizing: border-box;
/*     background-color: blueviolet; */
}


.container_kpis{
    width: 97%;
    height: 20%;
/*     background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.kpi {
    background-color: #083132;
    width: 18%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    color: #ffffff;
}

.kpi_text_container {
/*     background-color: blueviolet; */
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.kpi_title{
    font-size: 26px;
    text-align: center;
    line-height: 35px;
}

.data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    font-size: 28px;
}

.data1{
    color: #F2FF58;

}

.data2{
    color: #067572;
}


.container_graficos{
    width: 97%;
    height: 620px;
/*     background-color: cornflowerblue; */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.container_graf_esq {
    width: 65%;
    height: 100%;
/*     background-color: darkmagenta; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_graf1{
    width: 100%;
    height: 45%;
 /*    background-color: #083132; */
    border: solid 3px #083132;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
/*     background-color: darksalmon; */
}

.container_graf2{
    width: 100%;
    height: 50%;
/*     background-color: darksalmon; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
/*     background-color: #083132; */
    border: solid 3px #083132;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.container_grafico2_graf{
    width: 100%;
    height: 100%;
/*     background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#grafico2 {
    display: block;
}

.container_graf_dir {
    width: 35%;
    height: 100%;
/*     background-color: chocolate; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.container_graf_graf{
    height:100%;
    width: 95%;
/*     background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
/*     background-color: #083132; */
    border: solid 3px #083132;
    padding-left: 10px;
    padding-top: 5px;
    
}

* {
    box-sizing: border-box;
}